<h1>Books</h1>
<theads>
<p><strong>Title</strong></p>
<p><strong>Body</strong></p>
<p></p>
</theads>
<div class = "table">
  <% @books.each do |list| %>
  <span class = "list-title"><%= list.title %></span>
  <span class = "list-body"><%= list.body %></span>
  <%= link_to 'Show', list_path(list.id), method: :get %>
  <%= link_to 'Edit', edit_list_path(list.id), method: :get %>
  <%= link_to 'Destroy', list_path(list.id), method: :delete, "data-confirm" => "Are you sure?" %>
  <% end %>
</div>

<h1>New book</h1>
<%= form_with model: @book, url: '/lists', method: :post do |f| %>
<h4>Title</h4>
  <%= f.text_field :title %>
<h4>Body</h4>
  <%= f.text_area :body %>
<%= f.submit 'Create Book' %>
<% end %>